.nav {
    background-color: #000;
    display: flex;
    justify-content: flex-start;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    li {
        color: #fff;
        padding: 0 16px;
    }
}